body {
  font-family: Arial, Helvetica, sans-serif;
}

.answers {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
}

.button {
  width: 100px;
  height: 30px;
  margin: 10px 5px;
}

.results-wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.results {
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}

.results p {
  margin-top: 0;
}

.result-button {
  width: 150px;
  height: 30px;
}
